@font-face { 
  font-family: Acumin; 
  src: url("../fonts/acumin.otf");

} 
.indent {
  text-indent: 100px;
}

#navbar {
  padding: 35px;
  background-color: rgba(255, 255, 255, 0);/*Last arg is opacity*/
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 1.5s; /* Transition effect when sliding down (and up) */

}

#nav-title {
  /* display: block; */
  /* color: white; */
width:100%; height:100%;   /* text-decoration: none; */

}

#navbar a {
  display: block;
  color: white;
  text-decoration: none;


}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#intro-text{
  /*background-color: #333;*/
  padding: 20px;
  font-family: Acumin;
  color: #35454d;
}

#projects-title{
  /*background-color: #333;*/
  padding: 20px;
  font-family: Acumin;
  color: #0e3f66;
  font-size: 37.4px
}
#body{
  background-color: #333;
  padding: 20px;
}

#footer{
  background-color: #333;
  padding: 20px;
  width: 100%; /* Full width */
}
.container {
  position: relative;
  text-align: center;
  color: blue;/*Modiefes welcome text color since it is child of container*/
}
/*@media only screen and (max-width: 40em) { 
  
}
@media only screen and (min-width: 40.063em) { 

}
@media only screen and (min-width: 64.063em) {

}

*/
/*.grid-x{
  background-color: red;@debug
}*/